.lance-background{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; 
    height: auto; 
    display: block; 
    object-fit: contain;
    padding-right: -10;
}
.lance-text{
    height: auto;
    max-height: 500px;
    margin-top: 80px;
    position: relative;
}

