.introduction-container{
    padding-top: 200px;
    font-family: 'poppins';
    color: white;
    font-weight: bold;
}
.greeting{
    font-size: 24px;
    margin: 0;
}
.name{
    font-size: 41px;
    margin: 0;
}
.about{
    padding-top: 10px;
    font-size: 17px;
    opacity: 90%;
    margin: 0;
    color: lightgray;
    font-weight: 600;
}
.lance-text{
    color: #40CB95;
}
.year-course{
    color: #00ff9d;
}
.skills-section{
    font-family: 'Poppins','Segoe UI','Roboto';
    text-align: center;
    padding-top: 700px;
    color: white;
    font-size: 36px;
    font-weight: 600;

}
.skill-class{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.skills-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-box{
    background-color: #909492;
    border-radius: 100px;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-box p{
    font-size: 12px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-image{
    height: 50px;
    width: 50px;
}
.skill-name{    
    font-size: 12px;
}
.year{
    padding-top: 10px;
    font-size: 15px;
    color: rgb(41, 122, 214);
}
.note-message{
    color: rgb(138, 153, 168);
    font-size: 14px;
    padding-top: 90px;
}
.note-about{
    font-size: 13px;
    padding-top: 5px;
    padding-right: 150px;
    padding-left: 150px;
    opacity: 90%;
}
.work-section{
    font-family: 'Poppins','Segoe UI','Roboto';
    font-weight: bold;
    padding-top: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-class{
    font-size: 30px;
    color: white;
}
.project-text{
    color: #40CB95;
}
.work-containers{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}
.work-box{
    height: 400px;
    width: 285px;
    background-color: #383838;
    display: flex;
    flex-direction: column;
    border: #383838 solid 17px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.work-box::after, .work-box::before{

    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 70%, #34b897);
    padding: 20px;
    z-index: -2;
    border-radius: 10px;
    animation: 5s spin linear infinite;
}
.work-box::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}
.work-img{
    padding-top: 5px;
    display: flex;
    justify-content: center;
    position: relative;
}
.work-text{
    font-size: 14px;
    padding: 10px;
    color: white;
    font-family:'Poppins','Segoe UI','Roboto'; ;
  
}
.work-title{
    position: absolute;
    color: white;
    font-size: 14px;
    font-family: 'Poppins','Segoe UI','Roboto';
    font-weight: 600;
    padding-bottom: 5px; 
    bottom: 0;
}
.work-canvas{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0;
    justify-content: center;
    align-items: center;
}
