body{
   background-color: #1E1E1E;
   max-width: 1000px;
   margin: 0 auto;
   padding-left: 20px;
   padding-right: 20px;
   overflow-x: hidden;
   height: 3000px;
}

.background-gradient{
    height: 1000px;
    width: 1000px;
    background-image: radial-gradient(closest-side, rgba(16, 50, 39, 1), #1E1E1E);
    position: absolute;
    top: -400px;
    right: 60%;
    z-index: -1;
}

a {
    color: inherit;   
    text-decoration: none; 
}

html {
    scroll-behavior: smooth;
}