.header{
    display: flex;
    flex-direction: row;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

/* left-section*/
.left-container{
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    flex-shrink: 0;
    padding-right: 40px;
}

.left-container p{
    font-family: 'Poppins','Segoe UI','Roboto';
    font-weight: 700;
    font-size: 16px;
    color: white
}

.left-container img{
    padding-top: 5px;
    padding-right: 5px;
}
/* End of left-section*/


/* right-section*/
.right-container{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 20px;
    padding-right: 40px;
}

.buttons{
    width: 1fr;
    color: white;
    font-family: 'Poppins','Segoe UI','Roboto';
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}



